/* Corps de la page */
body
{
	font-family : Century Gothic;
	text-align : justify;
	background-color :  #EEEEEE;
}
.designQSN
{
	font-family : Century Gothic;
	text-align : justify;
	background-color :  #EEEEEE;
	margin-left: 5%;
	margin-right:5%;
	font-size:18px;
}

/* Titre */
h1{
text-align:center;
background:linear-gradient (#EEEEEE 0%, #EEEEEE 45%, #375D81 46%, #375D81 54%, #EEEEEE 54%, #EEEEEE 100%);
background:-webkit-linear-gradient(#EEEEEE 0%, #EEEEEE 45%, #375D81 46%, #375D81 54%, #EEEEEE 54%, #EEEEEE 100%);
background:-moz-linear-gradient(#EEEEEE 0%, #EEEEEE 45%, #375D81 46%, #375D81 54%, #EEEEEE 54%, #EEEEEE 100%);
background:-ms-linear-gradient(#EEEEEE 0%, #EEEEEE 45%, #375D81 46%, #375D81 54%, #EEEEEE 54%, #EEEEEE 100%);
background:-o-linear-gradient(#EEEEEE 0%, #EEEEEE 45%, #375D81 46%, #375D81 54%, #EEEEEE 54%, #EEEEEE 100%);
}
h1 span{
background: #EEEEEE;padding:0 20px;
}
.centrer{
	text-align:center;
}
.ficheart{
	border-bottom:1px solid rgba(0,0,0,0.15);
	border-top:1px solid rgba(0,0,0,0.15);
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
	font-size:20px;
}
.cb{
	border-bottom:1px solid rgba(0,0,0,0.15);
	border-top:1px solid rgba(0,0,0,0.15);
	font-weight:bold;
	font-size: 15px;
	border-left: 1px solid #EEEEEE;
	border-right : 1px solid #EEEEEE;
	margin-left:-60px;
}
.legende{
	margin-left:35%;
	font-size:25px;
	text-decoration:underline;
}
/* Tableaux */
table{
    border-collapse: collapse;
	margin: auto;
	width:100%;
	text-align: center;
	border: 1px solid gray;
}
td{
	background-color:#DCDCDC;
	border: 1px solid gray;
	text-align: center;
	padding:5px 2px;
}
th{
	background-color: #B0C4DE;
	border: 1px solid gray;
	text-align: center;
	padding:5px 2px;
}
tr:hover td{
    background-color:#54616c;
	color: #FFFFFF;
	
}
.colortr{
	background-color:#8EA2C6;
}
.nom{
	width:10%;
}
.nomv2{
	width:19%;
}
.creation{
	width:13%;
}
.livraison{
	width:12%;
}
.modification{
	width:14%;
}
.auteur{
	width:6%;
}
.adresse{
	width:13%;
}
.cp{
	width:8%;
}
.codemat{
	width:10.5%;
}
.maj{
	width:7.5%;
}
.cupi{
	width:4%;
}
.poste{
	width:5%;
}
.typ{
	
}
.libel{
	width:28%;
	padding:2px;
}
.fab{
	width:8%;
}
.price{
	width:4.5%;
}
.unit{
	width:4.5%;
}
.duree{
	
}
.taux{
	width:6%;
}
.bouton{
	width:9%;
}
.bouton2{
	width:7%;
}
.tar{
	width:10%;
}
.tae{
	width:9.2%;
}
.coutbrut{
	width: 30%;
}
.coutcourant{
	width:30%;
}
.td50{
	width:50%;
}
.scenario{
	width:11%;
}

/* Boutons */
button:hover{
	color: #FFFFFF;
    background: #54616c;
    background: linear-gradient( #777, #333);
	
}
button:active{
	color: #FFFFFF;
    background: #444;
    background: linear-gradient( #555, #2C2C2C);
    box-shadow: 1px 1px 10px black inset, 
                 0 1px 0 rgba( 255, 255, 255, 0.4);
}
.icones{
display: inline-block;
background: -moz-linear-gradient(top, #C0C0C0 0%, #C0C0C0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #C0C0C0), color-stop(100%,#C0C0C0)); /* Chrome,Safari4+ */
border: 1px solid #a1a1a1;
margin: 0em 0.20em 1em 0.20em;
font: bold 0.5em/0.8em ;
text-decoration: none;
color: #222;
-moz-border-radius: .1em;
-webkit-border-radius: .1em;
border-radius: .1em;
}
.small
{
	width: 95%;
	height: 22px;
	font-size:12px;
	float:left;
	padding: 0 1em;
	margin: 0.10em 0.20em;
}
.small:before
{
	text-align: center;
	margin: 0 0.5em 0 -1em;
	padding: 0 .2em;
	pointer-events: none;
}
.tall
{
	width: 18%;
	height: 35px;
	font-size:15px;
	text-align: center;
	padding-right:3%;
}
.tall:before
{
	
	margin: 0 1em 0 1em;
	pointer-events: none;
}
.tall1
{
	width: 25%;
	height: 35px;
	font-size:15px;
	margin: 1em 0em 1em 0em;
}
.tall1:before
{
	text-align: center;
	padding: 0 .2em;
	pointer-events: none;
}
.tall2
{
	width: 30%;
	height: 35px;
	font-size:15px;
	margin: 1em 0em 1em 0em;
}
.tall2:before
{
	text-align: center;
	padding: 0 .2em;
	pointer-events: none;
}
.formule
{
	width: 25%;
	height: 35px;
	font-size:15px;
	margin: 1em 1em 1em 1em;
}
.formule:before
{
	text-align: center;
	padding: 0 .2em;
	pointer-events: none;
}
.formule1
{
	width: 33%;
	height: 35px;
	font-size:15px;
	margin: 1em 1em 1em 1em;
}
.formule1:before
{
	text-align: center;
	padding: 0 .2em;
	pointer-events: none;
}
.add:before    { content: "\271A"; }
.edit:before   { content: "\270E"; }
.delete:before { content: "\2718";}
.save:before   { content: "\2714";}
.email:before  { content: "\2709";}
.cross:before  { content: "\2716";}
.left_arrow:before  { content: "\2190"; }
.calculer:before {content :"\2611";}
.copy:before{content : "\2398"}
.imprimer:before{content:"\2399";}
/* Liens hypertextes */
a:link{
	text-decoration: none;
	color:#000000;}
a:visited { color: black; text-decoration: none }
a:hover{
	color:#FFFFFF;
	text-decoration:underline;
}
a:active{
	color:#FFFFFF;
	text-decoration:underline;
} 
.liennoir:hover{
	color:#000000;
	text-decoration:underline;
}
.liennoir:visited { color: #000000; text-decoration: none }
.liennoir:active{
	color:#000000;
	text-decoration:underline;
} 
tr:hover a{
	color:white;
}
td a:link{
	text-decoration:underline;
}
td:hover a:link,td:hover a:visited{
	color:white;
}
/* Formulaires */
label{
    display: block;
    width: 25%;
    float: left;
}
.label2{
	display: block;
    width: 50%;
    float: left;
}
.label3{
	 display: block;
    width: 50%;
    float: left;
}
.label4{
	 display: block;
    width: 30%;
    float: left;
}
.label5{
	display:block;
	width:20%;
	margin-left: 25%;
}
.label6{
	display:block;
	width:20%;
	margin-left: 35%;
}
.textarea{
	display:block;
}
:-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
:-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}
.formulaire{
	background:#eee;
	margin:0% 25%;
	width:50%;
	}
.formulaire2
{
	background:#eee;
	margin:0% 15%;
	width:70%;
}
form ol {
		list-style:none;
		margin-bottom:8px;
		padding:0;
		}

form li {
		padding:10px;
		padding-bottom:0px;
		background:#e1e1e1;
		margin-bottom:2px;
		}

form li#send {
		background:none;
		margin-top:5px;
		}
li:hover{
    background-color:#CECECE;
	
}
.red
{
	color:#B40404;
}
/* Images d'entêtes */
.imageheaderright{
	float:right;
	padding:5px;
}
.imageheaderleft{
	float:left;
	padding:5px;
	margin-right:15px;
}
.image1{
	margin-right:10%;
	margin-top:2%;
}
.image2{
	
	margin-top:4%;
}
.image3 {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
/*Guide utilisateur */
html {
height: 100%;
}
.page_container, .other {
max-width: 840px;
margin-left: 50px auto;

}
.page_container h3, .other h3, .other h2 {
text-align: left;
}
u1
{
	text-align:left;
}
.page_container h2, .page_container h1, .page_container h3, .other h2, .other h1, .other h3 {
color: black;
}
.page_container p, .other p {
color: black;
font-size: 18px;
line-height: 180%;
text-align: justify;
}
h2 
{
border-bottom:1px solid rgba(0,0,0,0.15);
border-top:1px solid rgba(0,0,0,0.15);
text-align:center;
padding-top:5px;
padding-bottom:5px;
}
h3{
	font-style:italic;
}
h5{
	text-align:left;
}
p,u1,li{
	text-align:left;
}

.liens{
	text-decoration:none;
}
.liens, .liens:visited {
    /* Les liens "au repos" et déjà visités antérieurement */
    color: blue; /* couleur blanche */
}

table{
    border-collapse: collapse;
	margin: auto;
	width:100%;
	text-align: center;
	border: 1px solid gray;
}
td{
	background-color:#DCDCDC;
	border: 1px solid gray;
	text-align: center;
	padding:5px 2px;
}
th{
	background-color: #B0C4DE;
	border: 1px solid gray;
	text-align: center;
	padding:5px 2px;
}
.tdm{
	text-decoration:none;
	color: black;
	font-style: underline;
}
.tdm:visited{
	color:black;
}

/*Impression*/


@media print {
    .notPrint{
        display:none;
    }
	
	table {page-break-inside: avoid;}
	a[href]:after {content: none;}

}